<div class="building-header">

  <app-header-menu class="header"></app-header-menu>

  <img src="assets/images/buildings.jpg"/>

  <h2 class="header-text">Корпоративная культура - это залог правильной работы компании</h2>
</div>

<div class="aboutas-title">
  <h2>Развитие каждой компании зависит от людей, которые в ней работают</h2>
  <p>Мы помогаем нашим клиентам определять, в каких именно руководителях они нуждаются,
    находить и привлекать лидеров и обеспечивать их успешную интеграцию.
    Мы помогаем нашим клиентам определять, в каких именно руководителях они нуждаются,
    находить и привлекать лидеров и обеспечивать их успешную интеграцию.</p>
</div>

<div class="values">
  <h1>Наши ценности</h1>
  <table class="boasting-table">
    <tr>
      <td>
        <div>
          <h1>1</h1>
          <h4>Клиента</h4>
          <p>Слушать и слышать клиента. Действовать только во благо, этика важнее гонорара. Сохронять конфеденциальность.
          Строить долгосрочные доверительные отношения.</p>
          <div class="hl"></div>
        </div>
      </td>
      <td>
        <div>
          <h1>2</h1>
          <h4>Проффесионализм</h4>
          <p>Слушать и слышать клиента. Действовать только во благо, этика важнее гонорара. Сохронять конфеденциальность.
            Строить долгосрочные доверительные отношения.</p>
          <div class="hl"></div>
        </div>
      </td>
      <td>
        <div>
          <h1>3</h1>
          <h4>Успех</h4>
          <p>Слушать и слышать клиента. Действовать только во благо, этика важнее гонорара. Сохронять конфеденциальность.
            Строить долгосрочные доверительные отношения.</p>
          <div class="hl"></div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div>
          <h1>4</h1>
          <h4>Команда</h4>
          <p>Слушать и слышать клиента. Действовать только во благо, этика важнее гонорара. Сохронять конфеденциальность.
            Строить долгосрочные доверительные отношения.</p>
          <div class="hl"></div>
        </div>
      </td>
      <td>
        <div>
          <h1>5</h1>
          <h4>Знания</h4>
          <p>Слушать и слышать клиента. Действовать только во благо, этика важнее гонорара. Сохронять конфеденциальность.
            Строить долгосрочные доверительные отношения.</p>
          <div class="hl"></div>
        </div>
      </td>
      <td>
        <div>
          <h1>6</h1>
          <h4>Свобода</h4>
          <p>Слушать и слышать клиента. Действовать только во благо, этика важнее гонорара. Сохронять конфеденциальность.
            Строить долгосрочные доверительные отношения.</p>
          <div class="hl"></div>
        </div>
      </td>
    </tr>
  </table>
</div>

<h1 class="block-title">Познокомтесь  нашими сотрудниками</h1>
<app-news></app-news>

<h1 class="block-title">Ward Howell as a lifestyle</h1>
<app-news></app-news>
<app-news></app-news>
<app-more-button></app-more-button>

<div class="big_news">
  <img class="foto" src="/assets/images/big_news.png">
  <div>
    <h1>Благотворительность</h1>
    <p>В советах директоров будущего появится больше женщин и специалистов, которые будут занимать лидирующие позиции и конкурировать. В советах директоров будущего появится больше женщин и специалистов, которые будут занимать лидирующие позиции и конкурировать.
      В советах директоров будущего появится больше женщин и специалистов, которые будут занимать лидирующие позиции и конкурировать. В советах директоров будущего появится больше женщин и специалистов, которые будут занимать лидирующие позиции и конкурировать.</p>
    <img class="news_img_arrow" src="/assets/images/right-arrow.svg">
  </div>
</div>

<app-footer></app-footer>
