<app-header-menu class="header"></app-header-menu>
<div class="main-wrapper">
  <p class="bread">Главная - О нас - Медиацентр</p>
  <h1 class="title">Медиацентр</h1>
  <div class="big_news">
    <img
      class="foto"
      src="/assets/images/big_news.png"
    >
    <div>
      <h4>Harward Business Review</h4>
      <h2>Каким будет совет директоров через 10 лет?</h2>
      <p>В советах директоров будущего появится больше женщин и специалистов, которые будут занимать лидирующие позиции
        и конкурировать. В советах директоров будущего появится больше женщин и специалистов, которые будут занимать
        лидирующие позиции и конкурировать</p>
      <img
        class="news_img_arrow"
        src="/assets/images/right-arrow.svg"
      >
    </div>
  </div>
  <app-news></app-news>
  <app-news></app-news>
  <app-news></app-news>
  <app-more-button></app-more-button>
  <app-contact></app-contact>
</div>
<app-footer></app-footer>
