<div class="peoples">
  <div class="people">
    <img class="people_img" src="../../../assets/images/person.png">
    <h2>Георгий Абдушелишвили</h2>
    <p>Старший партнер. Председатель совета директоров. <br> <br>Специализируется на поиске первых лиц, управлении изменениями через определенных членов команды</p>
    <img class="people_img_arrow" src="../../../assets/images/right-arrow.svg">
  </div>
  <div class="people">
    <img class="people_img" src="../../../assets/images/person.png">
    <h2>Георгий Абдушелишвили</h2>
    <p>Старший партнер. Председатель совета директоров. <br> <br>Специализируется на поиске первых лиц, управлении изменениями через определенных членов команды</p>
    <img class="people_img_arrow" src="../../../assets/images/right-arrow.svg">
  </div>
  <div class="people">
    <img class="people_img" src="../../../assets/images/person.png">
    <h2>Георгий Абдушелишвили</h2>
    <p>Старший партнер. Председатель совета директоров. <br> <br>Специализируется на поиске первых лиц, управлении изменениями через определенных членов команды</p>
    <img class="people_img_arrow" src="../../../assets/images/right-arrow.svg">
  </div>
  <div class="people">
    <img class="people_img" src="../../../assets/images/person.png">
    <h2>Георгий Абдушелишвили</h2>
    <p>Старший партнер. Председатель совета директоров. <br> <br>Специализируется на поиске первых лиц, управлении изменениями через определенных членов команды</p>
    <img class="people_img_arrow" src="../../../assets/images/right-arrow.svg">
  </div>
</div>
