.header {
  display: flex;
}

.bread {
  margin-left: 10%;
  margin-top: 10%;
}

.title {
  margin-left: 10%;
  margin-top: 5%;
}

.history_item {
  display: flex;
  margin: 2% 10%;
}

.year {
  width: 70%;
  font-size: 78px;
  text-align: start;
  margin: 0;
}

.hl {
  width: 20%;
  height: 1px;
  background-color: grey;
  border: 0;
  margin-top: 4%;
  margin-right: 3%;
}
