
.marketing-text {
  margin: 5% 10%;
}

.vl {
  border-left: 2px solid green;
  height: 100%;
}

.hl {
  border-bottom: 1px solid rgb(34, 53, 111);
  width: 30%;
}

.consultant {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 7%;
  height: 100px;
}

.consultant h1 {
  width: 30%;
  float: left;
  margin-top: 0;
}

.consultant p {
  float: right;
  max-height: 80px;
  width: 60%;
  text-align: left;
}

.select_toolbar {
  width: auto;
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  height: 40px;
}

.select_toolbar select {
  height: 100%;
  width: 22%;
  border-right: 0;
  border-left: 0;
  border-top: 0;
}

.select_toolbar button {
  height: 100%;
  width: 22%;
  border: 0;
  background-color: rgb(34, 53, 111);
  color: white;
}

.news_title {
  margin-top: 7%;
  margin-right: 10%;
  margin-left: 10%;
}



