<app-header></app-header>

<div class="main-wrapper">

  <app-main-menu></app-main-menu>

  <p class="marketing-text">Консалтинговая компания Ward Howell работает на российском рынке с 1993 года. Мы специализируемся на поиске и развитии руководителей, управленческих команд и членов советов директоров российских и международных компаний, некоммерческих структур и государственных организаций. Наш собственный исследовательский центр Talent Equity Institute ведет постоянную работу по изучению лидерства и лучших управленческих практик в партнёрстве с ведущими экспертами и профессорами международных бизнес-школ. <br>Сочетание практического опыта реализации проектов в разных отраслях экономики и новейшего академического знания позволяет нам формировать эффективные решения для наших клиентов. Мы помогаем руководителям и собственникам повышать качество лидерского капитала, принимать правильные организационные решения и обеспечивать устойчивое развитие бизнеса.</p>

  <app-boasting-table></app-boasting-table>

  <div class="consultant">
    <h1>Наши консультанты</h1>
    <p>Мы помогаем нашим клиентам определять, в каких именно руководителях они нуждаются, находить и привлекать
      лидеров и обеспечивать их успешную интеграцию. <br>Мы помогаем нашим клиентам определять, в каких именно
      руководителях они нуждаются, находить и привлекать лидеров и обеспечивать их успешную интеграцию.</p>
  </div>

  <div class="select_toolbar">
    <select>
      <option>Георгий Абдушелишвили</option>
      <option>Георгий Абдушелишвили</option>
      <option>Георгий Абдушелишвили</option>
      <option>Георгий Абдушелишвили</option>
    </select>
    <select>
      <option disabled selected hidden>Индустрия</option>
      <option>Георгий Абдушелишвили</option>
      <option>Георгий Абдушелишвили</option>
      <option>Георгий Абдушелишвили</option>
    </select>
    <select>
      <option disabled selected hidden>Офис</option>
      <option>Георгий Абдушелишвили</option>
      <option>Георгий Абдушелишвили</option>
      <option>Георгий Абдушелишвили</option>
    </select>
    <button>НАЙТИ КОНСУЛЬТАНТА</button>
  </div>

  <app-people></app-people>

  <h1 class="news_title">Новости</h1>

  <app-news></app-news>

</div>

<app-footer></app-footer>

