<table class="boasting-table">
  <tr>
    <td>
      <div>
        <h1>25 лет</h1>
        <div class="hl"></div>
        <p>успешной истории</p>
      </div>
    </td>
    <td>
      <div>
        <h1>300+</h1>
        <div class="hl"></div>
        <p>проектов по поиску руководителей</p>
      </div>
    </td>
    <td>
      <div>
        <h1>65%</h1>
        <div class="hl"></div>
        <p>портфеля - заказы постоянных клиентов</p>
      </div>
    </td>
    <td>
      <div>
        <h1>100+</h1>
        <div class="hl"></div>
        <p>профессионалов работают в компании</p>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div>
        <h1>200+</h1>
        <div class="hl"></div>
        <p>клиентов - ведущих государственных и частных компаний</p>
      </div>
    </td>
    <td>
      <div>
        <h1>30%</h1>
        <div class="hl"></div>
        <p>заказов - комплексные проекты по развитию лидеров и организаций</p>
      </div>
    </td>
    <td>
      <div>
        <h1>2000+</h1>
        <div class="hl"></div>
        <p>руководителей - участники наших программ развития</p>
      </div>
    </td>
    <td>
      <div>
        <h1>50%</h1>
        <div class="hl"></div>
        <p>позиций - первые лица компаний и члены советов директоров</p>
      </div>
    </td>
  </tr>
</table>
