<div class="news_array">
  <div class="news">
    <img class="news_img" src="../../../assets/images/news_one.png">
    <h2>Каким будет совет директоров через 10 лет?</h2>
    <p>В советах директоров будущего появится больше женщин и специалистов, которые будут занимать лидирующие позиции и конкурировать</p>
    <img class="news_img_arrow" src="../../../assets/images/right-arrow.svg">
  </div>
  <div class="news">
    <img class="news_img" src="../../../assets/images/news_two.png">
    <h2>Стиль эффективного управления советом</h2>
    <p>В советах директоров будущего появится больше женщин и специалистов, которые будут занимать лидирующие позиции и конкурировать</p>
    <img class="news_img_arrow" src="../../../assets/images/right-arrow.svg">
  </div>
  <div class="news">
    <img class="news_img" src="../../../assets/images/news_three.png">
    <h2>Интервью Даниила Жукова журналу Forbes</h2>
    <p>В советах директоров будущего появится больше женщин и специалистов, которые будут занимать лидирующие позиции и конкурировать</p>
    <img class="news_img_arrow" src="../../../assets/images/right-arrow.svg">
  </div>
</div>
