<div class="footer">
  <div class="footer_menu">
    <a class="logo">Ward Howell</a>
    <a class="menu_item">Что мы делаем </a>
    <a class="menu_item">О нас</a>
    <a class="menu_item">Консультанты</a>
    <a class="menu_item">Индустрии</a>
    <a class="menu_item">Talent Equity Institute</a>
    <a class="menu_item">Контакты</a>
    <a class="facebook">facebook</a>
  </div>
  <div class="horizontal_line"></div>
  <div class="footer_menu">
    <a class="ads">Ward Howell. 2018 <br>Все права защищены</a>
    <a class="ads">+7 495 921-29-01 <br>info@wardhowell.com</a>
    <a class="ads">AESC</a>
    <a class="ads">Blue Steps</a>
    <a class="site">Сайт разработан в iTargency</a>
  </div>
</div>
